*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.card{
    height: fit-content;
    width: 75rem;
    padding: 15px;
    margin-top: 7px;
    margin-bottom: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px  5px rgb(44, 43, 43);
    /* display: inline-block; */
    /* overflow-y: scroll; */
}

.card::-webkit-scrollbar{
    display:none;
}

img{
    height: 20rem;
    /* width: 17rem; */
    padding: 5px;
}

/* .content{
    height: 100%;
    width: 21rem;
    border: 1px solid black;
    margin: auto;
    padding: 7px;
    box-sizing: border-box;
} */

span{
    position: absolute;
 

}

.content{ 
    height: 230rem;
    margin-top: 4rem;
    overflow-y: scroll;
    

    
    /* background-image: url("news.jpeg"); */
    /* box-shadow: 0px 0px 15px; */
}

.content::-webkit-scrollbar{
    display: none;
}

#icon{
    height: 200px;
    width: 250px;
}

.card-body{
    height: fit-content;
    width: fit-content;
}

.card-title{
    font-size: 19px;
}

.card-text{
    font-size: 15px ;
}

.author{
  font-size: 13px;
}

#read{
   font-size: 13px;
}

.category{
    
    padding-right: 4px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: fit-content;
    border-radius: 5px;
}

.mainbox{
    display: flex;
}

.img-box{
    height: 20rem;
    width: 35rem;
}



@media screen and (max-width: 600px) {
    .card-text{
        font-size: 8px;
    }

    .card-title{
        font-size: 11px;
    }

    .card-body{
        height: fit-content;
    }

    .author{
        font-size: 7px;
    }

    #read{
        font-size: 7px;
    }

    .card{
        height: 23.5rem;
        width: 21rem;
    }
    
    .img-box{
        height: 11rem;
        width: 19rem;
        padding: 7px;
    }

    img{
        height: 11rem;
        width: 2rem;
    }

    /* img{
        height: 15rem;
        width: 3rem;
        /* width: 7rem; */
    /* } */ */

    .content{
        margin-top: 5rem;
        height: 183rem;
    }

    .mainbox{
        display: block;
    }
    
    /* .col{
        width: fit-content;
            list-style-type: none;
            color: black;
            background-color: blue;
        } */
}