*{
    margin : 0;
    padding : 0;
}



.foot{
    width: 100%;
}

a{
    text-decoration: none;
}

.backto{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: rgb(16, 15, 15);
}

.backtotop{
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-top: 15px;
}

a{
    color: white;
}

